// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
  text-decoration: none !important;
}

.no-bullets{
	list-style-type: none;
}

.error{
	background: #ffc0cb;	
}

header{
  background-color: #456892;
}

.input-field{
  width: 100%;
}

.alert-notice{
	background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;	
}

.article-button{
  margin-top: 10px;
	margin-left: 35px;
  background-color: #337B1F !important;
}

.modal-header{
	display: none;
}

.modal-footer{
  border: none !important;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  margin-top: 5px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.alert-error, .alert-alert{
  background: #ffc0cb;
}

.center-align{
  text-align: center;
}

.inline{
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.nav li a{
  color: whitesmoke;
  &:hover{
    color: black;
  }
}

.container.container-body{
  padding-left: 0px;
  margin-left: 30px;
}

.like-element a{
  color: blue;
}